
h2 Please select the restraunt you would like to go this noon.



  form(method='post', action="/poll")
    each val in [['Chipotle','chipotle-mexican-grill-fairfax-5' ],['Todai','todai-fairfax'], ['Mandarin',''], ['HongkongTast 大排档 ',''],['China88','']]
      input(type='radio', value=val[0], name='chosen_restraunt')
      a(href='http://www.yelp.com/biz/'+val[1])  #{val[0]}
      br
    input(type='submit', value='Submit')
  br
  br
  br
  p
    a(class='btn btn-primary btn-lg' href='/poll_result' role="button") Check today's result

- for (var i = 1; i < posts.length; i = i + 1)
  div.row
    - for(var j = i-1; j < i && j < posts.length; j++)
      div(style='word-wrap: break-word; width:600px;')
        p!= posts[j].post
        h6
          a(href='/u/'+posts[j].user)=posts[j].user
              !='<small>' + ' Said' + '</small>'
        p!='<small>' + posts[j].time + '</small>'




    // if change i to 3 and i+1 to i+3 it will show 3 colums. But it's ugly.